<div id="page-create-point">
  <header>
    <img src='../../../assets/images/logo.svg' alt='Ecoleta'>

    <a routerLink='/' routerLinkActive=true>
      voltar
    </a>
  </header>

  <form>
    <h1>Cadastro do ponto de coleta</h1>

    <fieldset>
      <legend>
        <h2>Dados</h2>
      </legend>

      <div class="field">
        <label for="name">Nome da entidade</label>
        <input type="text" name='name' id='name'>
      </div>

      <div class="field-group">

        <div class="field">
          <label for="email">E-mail</label>
          <input type="email" name='email' id='email'>
        </div>

        <div class="field">
          <label for="Whatsapp">Whatsapp</label>
          <input type="text" name='Whatsapp' id='Whatsapp'>
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>
        <h2>Endereço</h2>
        <span>Selecione o endereço no mapa</span>
      </legend>

      <div class="map" leaflet [leafletOptions]="options">
      </div>

      <div class="field-group">
        <div class="field">
          <label for="uf">Estado (UF)</label>

          <!-- <mat-select [(ngModel)]="binding" multiple>

            <mat-option *ngFor="let uf of ufs" [value]="uf">{{uf}}</mat-option>

          </mat-select> -->
        </div>
        <div class="field">
          <label for="city">Cidade</label>
          <select name="city" id="city">
            <option value="0">Selecione uma cidade</option>
          </select>
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>
        <h2>Ítens de coleta</h2>
        <span>Selecione um ou mais itens abaixo</span>
      </legend>
      <!-- key={{item.id}}key={{item.id}} -->
      <ul class="items-grid">
        <li *ngFor="let item of itens; index as i;">
          <img src={{item.image_url}} alt="oleo">
          <span>{{item.title}}</span>
        </li>

      </ul>

    </fieldset>

    <button type="submit">
      Cadastrar ponto de coleta
    </button>

  </form>
</div>
